@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --main: #111827;
  --primary: #0f172a;
  --selected: rgba(255, 255, 255, 0.2);
  --border: #1e293b;
  /* Text and icon colors */
  --text: white;
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.dark {
  background-color: var(--main);
}

.dark .ce-toolbar__plus,
.dark .ce-toolbar__settings-btn,
.dark .ce-popover-item__title,
.dark .ce-popover-item__icon {
  color: var(--text);
}

.dark .cdx-search-field.ce-popover__search {
  background-color: #1e293b4d;
  border-color: var(--border);
}

.dark .cdx-search-field__input {
  color: var(--text);
}

.dark .cdx-block,
.dark .ce-block {
  color: var(--text);
}

.dark .ce-inline-toolbar,
.dark .ce-conversion-tool__icon,
.dark .ce-popover-item__icon,
.dark .tc-popover__item-icon {
  color: var(--text);
  background-color: var(--primary);
  border-color: var(--border);
}

.dark .ce-popover,
.dark .ce-conversion-toolbar,
.dark .ce-inline-toolbar,
.dark .tc-popover {
  background-color: var(--primary);
  border-color: var(--border);
  box-shadow: 0 3px 15px -3px var(--border);
}
.dark .ce-header{
  color: white;
}

.dark .ce-inline-tool:hover,
.dark .ce-inline-toolbar__dropdown:hover,
.dark .ce-toolbar__plus:hover,
.dark .ce-toolbar__settings-btn:hover,
.dark .ce-conversion-tool:hover,
.dark .ce-popover-item:hover {
  background-color: var(--selected);
}

.dark *::selection,
.dark .ce-block.ce-block--selected .ce-block__content {
  background-color: var(--selected);
}

.dark .ce-popover__items {
  scrollbar-color: var(--border) var(--main);
}
/* table class wrapper */
.dark .tc-wrap,
.dark .tc-wrap * {
  --color-border: var(--border);
  --color-text-secondary: var(--text);
  --color-background: var(--selected);
  --toggler-dots-color: var(--selected);
  --toggler-dots-color-hovered: var(--text);
}

@media (max-width: 650px) {
  .dark .ce-toolbar__settings-btn,
  .dark .ce-toolbar__plus {
    background-color: var(--primary);
    border-color: var(--border);
    box-shadow: 0 3px 15px -3px var(--border);
  }
}